[Desktop Entry]
Encoding=UTF-8
Version=1.8
Type=Application
Name=eclipse
Comment=app
Exec=/usr/local/eclipse/eclipse
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
